@import "normalize.css";


header, footer {

  background: url("images/listki.jpg");
  clear: left;
  color: black;
  padding: 1em;
  text-align: center;

}

.nav-link {
  padding: 0.3 1rem;
}

.rozp{
   display: none;
   color: black;
}



.bg-dark {
    background: url("images/iglaste.jpg");
    color: black;
}


.drzewa{
  max-width: 200px;
  max-height: 200px;
}

.nana{
  border-radius: 5rem;
}

a{
  color:black;
}

a:hover {
  text-decoration: none;
}

body{
	background:  white;
	text-align: center;
}

.carousel-caption{
  color:black;
  bottom: 25%;
}

@media (min-width: 100px){
.d-md-block {
    display: block!important;
}}

.dropdown-toggle{
  float:right;
}
#inner, #inner2{
  width: 50%;
  width: 20rem;
  margin: 0 auto;
}

.col-sm-6{
	padding: 2em;
}

.nav-pills .nav-link {
  border-radius: .100rem;
}

.carousel{
  border-radius:.5rem;
}

.card-img-right{
	width: 60%;
	height: auto;
}

.nav-tabContent{
	padding: 1em;
}

h1{
  font-size: 250%;
}


h2{
  font-size:200%;
}



@media only screen and (max-width: 750px) {
  h2 {
    font-size:150%;
  }
  h1{
    font-size: 200%;
  }
  p{
    font-size:75%;
  }
  h3{
    font-size: 130%;
  }
  .dropdown-toggle{
    visibility: hidden;
  }
}

@media only screen and (max-width: 500px) {
  h2 {
    font-size:100%;
  }
  h1{
    font-size:200%;
  }
  #inner, #inner2 {
    width: 50%;
    width: 15rem;
    margin: 0 auto;
  }

}
.carousel-inner img {
  width: 100%; /* Set width to 100% */
  min-height: 200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}

.tab-content{
	padding: 1em;
}

.komentarze{
	width:60%;
}

.error {
  background: #f2dede;
  border-radius: 5px;
  border: 1px solid #a94442;
  color: #a94442;
  margin: 0px auto;
  padding: 10px;
  text-align: center;
  width: 50%;
}
